{% extends 'base.html.twig' %}

{% block title %}Serie details{% endblock %}

{% block body %}
    <h2>Détail de la série</h2>
    <h3>{{ serie.name }}</h3>
    <p>Status: {{ serie.status }}</p>
    <p>Description: {{ serie.overview }}</p>
    <p>Date de lancement: {{ serie.firstAirDate|date('d/m/Y') }}</p>
    <p><a type="button" class="btn btn-primary" href="{{ path('serie_edit', {'id' : serie.id}) }}">Modifier</a>
    &nbsp;
    <a type="button" class="btn btn-danger" href="{{ path('serie_remove', {'id' : serie.id }) }}" onclick="return confirm('Etes-vous sûr ?')">Supprimer</a></p>
    <p><img src="{{ asset(posters_path ~ serie.poster) }}" /></p>
{% endblock %}