{% extends 'base.html.twig' %}

{% block title %}Serie List{% endblock %}

{% block body %}
    <h2>Liste des séries</h2>
    <section>
        <div class="flex_between">
            {% if page > 1 %}
                <a href="{{ path('serie_list', {'page': page - 1}) }}">Previous page</a>
            {% endif %}
            &nbsp;{{ page }} / {{ pages_total }}&nbsp;
            {% if page < pages_total %}
                <a href="{{ path('serie_list', {'page' : page + 1}) }}">Next page</a>
            {% endif%}
        </div>
    </section>
    {% for serie in series %}
        <a href="{{ path('serie_details', {'id' : serie.id }) }}"><img src="{{ asset(posters_path ~ serie.poster) }}" width="150px" alt="{{ serie.name }}" title="{{ serie.name }}"/></a>
    {% endfor %}
{% endblock %}
